<!-- views/partials/header.ejs -->

nav(class="navbar navbar-default" role="navigation")
    .container-fluid

        .navbar-header
            a(class="navbar-brand" href="/")
                span.glyphicon.glyphicon.glyphicon-tree-deciduous
                | ModuleLogo

            ul.nav.navbar-nav
                li
                    a(href="/") Home
                li
                    a(href="/users/permissions") Permissions
                li
                    a(href="/users/profiles") Profiles
                li
                    a(href="/users/departments") Departments
                li
                    a(href="/users/roles") Roles
                li
                    a(href="/users/businesses") Businesses
                li
                    a(href="/users") Users
                li
                    a(href="/posts") Posts