doctype html
html
  head
    title= title
    include partials/head
  body
    .container
      header
        include partials/header
      main
        block content
    footer
      include partials/footer